/*
* FORMS, FIELDS, INPUTS
*/
form label {
    font-weight: bold;
}
form .error {
    color: red;
}
/*
* FILEPOND RESTYLING
*/
.filepond--credits {
    visibility: hidden !important;
}
.filepond--root .filepond--drop-label {
    min-height: 100%;
}
/*
* ADVERT IMAGES
*/
.advert--images-container {
    width: 200px;
    height: 150px;
}
.advert--image-current,
.advert--image-preview img {
    border-radius: 10px;
    max-width: 200px;
    max-height: 150px;
}
/*
* ADVERT IMAGE UPLOADER
*/
#uploader {
    width: 400px;
    max-width: 100%;
    height: 150px;
    margin-bottom: 0;
}
